<div class="col-sm-3">
    <!-- Left column -->
    <a href="#"><strong><i class="glyphicon glyphicon-education"></i> Bac</strong></a>

    <hr>

    <ul class="nav nav-stacked">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#mathMenu">Section Mathématiques <i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="mathMenu">
                <li class="active"> <a href="#"><i class="glyphicon glyphicon-pencil"></i> Mathématiques</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-magnet"></i> Physique <span class="badge badge-info">4</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-leaf"></i> SVT</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cloud"></i> Informatique</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Français</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Anglais</a></li>
            </ul>
        </li>
        
        <!--<li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#sciencesMenu"> Section Sciences Expérimentales <i class="glyphicon glyphicon-chevron-right"></i></a>

            <ul class="nav nav-stacked collapse" id="sciencesMenu">
                <li><a href="#">Information &amp; Stats</a>
                </li>
                <li><a href="#">Views</a>
                </li>
                <li><a href="#">Requests</a>
                </li>
                <li><a href="#">Timetable</a>
                </li>
                <li><a href="#">Alerts</a>
                </li>
            </ul>
        </li>   -->     
    </ul>

    <hr>

   
</div>